<table style="text-align: left; margin: auto;">
	
	<% var i; for (i=0;i < quizes.length; i++) { %>
		<tr>
			<td><label for="tem" class="rem"><%= quizes[i].tema %>:</a></td>
			<td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td><td></td>
			<td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></td>
			<td>
				<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
					<button type="submit" onClick="return confirm('Va a borrar la pregunta <%= quizes[i].pregunta %>. ¿Está seguro?');">
						borrar
					</button>
				</form>
			</td>
		</tr>
	<% } %>
<tr><td></td><td>
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
</td></tr>
<tr><td></td>
<form method="get" action="/quizes">
	<td><label for="Busc" class="rem">Buscar:</label></td>
	<td><input type="test" name="search" value=""/></td>
	<td><input type="submit" value="Enviar"></td>
</form>
</tr>
</table><p>